.env
__pycache__
dnnlib/**
test_nvcc
checkpoints/**
networks/**
images/**
results/**
data/*/**
datasets/**
!checkpoints/.gitkeep 
!networks/.gitkeep 
!images/.gitkeep 
!results/.gitkeep 
!data/.gitkeep 
!data/*/.gitkeep 
!datasets/.gitkeep 
